# Applied Data Science Capstone - Week 3 Assignment

## Building the code to scrape the following Wikipedia page:
    https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

### import the libraries

In [1]:
import pandas as pd
import requests

### load the data

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]

In [3]:
df.head(20)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
13      M2B      Not assigned      Not assigned
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens
16      M4B         East York     Parkview Hill
17      M5B  Downtown Toronto           Ryerson
18      M5B  Downtown Toronto   Garden District
19      M6B        North York         Glencairn

### Ignoring cells with a borough that is Not assigned.

In [4]:
df = df[df["Borough"] != "Not assigned"]

### Combining into one row with the neighborhoods separated with a comma

In [5]:
df_code = df['Postcode'].unique()
df.set_index('Postcode', drop=False, inplace=True)

separator=', '
for postcode in df_code:
    df_tmp = df.loc[postcode]
    if(df_tmp.size > 3):
        neighbourhood = separator.join(df_tmp['Neighbourhood'])
        df.loc[postcode, 'Neighbourhood'] = neighbourhood

df.drop(df[df.Neighbourhood == 'Not assigned'].index, inplace=True)
df.drop_duplicates('Postcode', inplace=True)
df.reset_index(drop = True, inplace=True)
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M9A         Etobicoke                  Islington Avenue

#### Shape of the dataframe

In [6]:
df.shape

(102, 3)

In [63]:
df_code = pd.read_csv("Geospatial_Coordinates.csv")

In [98]:
import geocoder # import geocoder


for index, row in df.iterrows():
    temp = row['Postcode']
    df["Latitude"][index] = df_code.loc[df_code['Postal Code'] == temp]["Latitude"].values[0]
    df["Longitude"][index] = df_code.loc[df_code['Postal Code'] == temp]["Longitude"].values[0]

    
print('end')

end

c:\users\andre\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\andre\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [99]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242

In [101]:
df.to_csv("Canada.csv", index=False)

In [103]:
df = pd.read_csv("Canada.csv")

In [104]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242