#### But in this case in addition to general Venues data of all Major Russian Cities, we will be adding some Socioeconomic information like Population, Average Income /person, Average Unemployment Rate and Area in km2 of that city.

In [87]:
import pandas as pd

print('Libraries imported.')

Libraries imported.

#### Some facts about vegeterian:
    - average age of a vegan today is 42
    - less surprising is that 74% — almost three-in-four vegans — are female

## I UK population Data

In [79]:
df = pd.read_csv("C:/Users/andre/Notebooks/Data/worldcities.csv")

### Sort and select the top of 20 cities of United Kingdom where live the largest number of people

In [84]:
df = df[df['iso2'] == "GB"].sort_values(by=["population"], ascending = False).head(20)

In [86]:
df[["city", "population", "lat", "lng"]]

                     city  population      lat     lng
25                 London   8567000.0  51.5000 -0.1167
177            Birmingham   2285000.0  52.4750 -1.9200
181            Manchester   2230000.0  53.5004 -2.2480
297                 Leeds   1529000.0  53.8300 -1.5800
372             Sheffield   1292900.0  53.3667 -1.5000
410               Glasgow   1160000.0  55.8744 -4.2507
683   Newcastle upon Tyne    882000.0  55.0004 -1.6000
705              Caerdydd    861400.0  51.5000 -3.2250
736            Nottingham    825600.0  52.9703 -1.1700
744             Liverpool    811000.0  53.4160 -2.9180
897       Southend-on-Sea    618386.0  51.5500  0.7200
977               Bristol    553528.0  51.4500 -2.5833
1036            Edinburgh    504966.0  55.9483 -3.2191
1045             Brighton    503008.0  50.8303 -0.1700
1047             Bradford    501700.0  53.8000 -1.7500
1121            Leicester    457983.0  52.6300 -1.1332
1129           Sunderland    452934.0  54.9200 -1.3800
1137              Belfast    450406.0  54.6000 -5.9600
1154           Portsmouth    442252.0  50.8003 -1.0800
1184          Bournemouth    426945.0  50.7300 -1.9000

## II Cities Venue Data from Foursquare